TENSE POS TAGGING FEATURE

In [1]:
import pandas as pd
data = pd.read_csv("balanced_data_resampled_companies.csv")
# test = pd.read_csv("balanced_data_resampled_companies_train.csv")

data

,Unnamed: 0,sentences,label,company
0,0,"From 2012 to 2020, we achieved a 26% reduction...",1,EliLilly
1,1,"In 2021, we achieved a 9% absolute emissions r...",1,EliLilly
2,2,This reduction was partially driven by energy ...,1,EliLilly
3,3,"In 2021, 9.6% of our purchased electricity cam...",1,EliLilly
4,4,A large portion of this renewable electricity ...,1,EliLilly
...,...,...,...,...
1777,13,When thinking about a goal for our own compan...,0,NextEraEnergyZeroCarbonBlueprint
1778,14,Our commercial and industrial customers are s...,0,NextEraEnergyZeroCarbonBlueprint
1779,15,Our modernized FPL infrastructure in Florida ...,0,NextEraEnergyZeroCarbonBlueprint
1780,16,"This is the accepted definition of scopes 1, ...",0,NextEraEnergyZeroCarbonBlueprint
1781,17,The purchasing party is solely entitled to t...,0,NextEraEnergyZeroCarbonBlueprint

In [2]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [3]:
test = []
def detect_past_sentence(sentence):

    sent = list(nlp(sentence).sents)[0]
    # test.append(sent)
    # print(list(nlp(sentence).sents))
    return (
        sent.root.tag_ == "VBD" or sent.root.tag_ == "VBN" or
        any(w.dep_ == "aux" and w.tag_ == "VBD" or w.tag_ == "VBN" for w in sent.root.children))

In [4]:
tense_list = []
for sentence in data['sentences']:
  tense_list.append(detect_past_sentence(sentence))
  # break

data['past tense'] = tense_list

In [5]:
data.head(30)

,Unnamed: 0,sentences,label,company,past tense
0,0,"From 2012 to 2020, we achieved a 26% reduction...",1,EliLilly,True
1,1,"In 2021, we achieved a 9% absolute emissions r...",1,EliLilly,True
2,2,This reduction was partially driven by energy ...,1,EliLilly,True
3,3,"In 2021, 9.6% of our purchased electricity cam...",1,EliLilly,True
4,4,A large portion of this renewable electricity ...,1,EliLilly,True
5,5,"In 2021, we reduced our energy consumption by ...",1,EliLilly,True
6,6,"In 2021, 9.6% of our purchased electricity was...",1,EliLilly,True
7,7,We have reduced GHG emissions at key facilitie...,1,EliLilly,True
8,8,"These projects include: Kinsale – In July, 202...",1,EliLilly,False
9,9,The solar array is expected to provide up to 1...,1,EliLilly,True
10,10,"Manufacturing facilities in Fegersheim, France...",1,EliLilly,False
11,11,"In 2019, Lilly India began operating a rooftop...",1,EliLilly,True
12,12,The 40-kW capacity solar panels will help redu...,1,EliLilly,False
13,13,The solar panels supply approximately 10% of t...,1,EliLilly,False
14,14,"For example, Lilly’s �eet in Japan consists of...",1,EliLilly,True
15,0,Making medicines requires the use of valuable ...,0,EliLilly,False
16,1,"7/7/22, 10:29 AM Environmental | 2021 ESG Repo...",0,EliLilly,False
17,2,"7/7/22, 10:29 AM Environmental | 2021 ESG Repo...",0,EliLilly,False
18,3,Sesto implemented new drive-belt technology on...,0,EliLilly,True
19,4,2018 through 2020 Scope 3 data include the fol...,0,EliLilly,False
20,5,These data will also be used to inform our sup...,0,EliLilly,True
21,6,We’re committed to reducing our environmental ...,0,EliLilly,True
22,7,We have introduced hybrid or electric �eet veh...,0,EliLilly,True
23,8,"Lilly manages health, safety and the environme...",0,EliLilly,False
24,9,"Recent Achievements Throughout 2020 and 2021, ...",0,EliLilly,True
25,10,"In 2021, we did not purchase any carbon offsets.",0,EliLilly,True
26,11,We are currently working to advance transparen...,0,EliLilly,False
27,12,Lilly Kinsale has initiated a 10-acre expansio...,0,EliLilly,True
28,13,"Energy Resiliency In 2017, we began designing ...",0,EliLilly,True
29,14,As a global company committed to making life b...,0,EliLilly,False

In [6]:
data['past tense'][0]

True

In [7]:
# check to see if past tense indeed correlates with labels
mismatch = data.loc[data['label'] != data['past tense']]

In [8]:
len(mismatch)/len(data)

0.4068462401795735

BIGRAM/N-GRAM FEATURE

In [9]:
from textblob import TextBlob
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
irr = pd.read_csv("extracted_irrelevant_sentences.csv")
rel = pd.read_csv("extracted_relevant_sentences.csv")
irr.tail()

,Unnamed: 0,relevant_sentences,company_label
78253,78252,→ FPL’s four nuclear units continue to operat...,NextEraEnergyZeroCarbonBlueprint
78254,78253,Technology We assume that: → FPL’s gas plants...,NextEraEnergyZeroCarbonBlueprint
78255,78254,→ NextEra Energy Resources would invest in el...,NextEraEnergyZeroCarbonBlueprint
78256,78255,→ All non-FPL fossil generation assets would ...,NextEraEnergyZeroCarbonBlueprint
78257,78256,→ Vehicle fleet conversions are based on the ...,NextEraEnergyZeroCarbonBlueprint

In [11]:
# get the bigrams collection by tokenizing
bag1 = []
bag2 = []

In [12]:
for sentence in irr['relevant_sentences']:
  blobbed1 = TextBlob(sentence)
  bag1.append(blobbed1.ngrams(n=3))

for sentence in rel['relevant_sentences']:
  blobbed2 = TextBlob(sentence)
  bag2.append(blobbed2.ngrams(n=3))

# print(bag)

In [13]:
bag1[10]

[WordList(['As', 'a', 'global']),
 WordList(['a', 'global', 'company']),
 WordList(['global', 'company', 'committed']),
 WordList(['company', 'committed', 'to']),
 WordList(['committed', 'to', 'making']),
 WordList(['to', 'making', 'life']),
 WordList(['making', 'life', 'better']),
 WordList(['life', 'better', 'for']),
 WordList(['better', 'for', 'people']),
 WordList(['for', 'people', 'we']),
 WordList(['people', 'we', 'recognize']),
 WordList(['we', 'recognize', 'our']),
 WordList(['recognize', 'our', 'responsibility']),
 WordList(['our', 'responsibility', 'to']),
 WordList(['responsibility', 'to', 'reduce']),
 WordList(['to', 'reduce', 'our']),
 WordList(['reduce', 'our', 'carbon']),
 WordList(['our', 'carbon', 'footprint']),
 WordList(['carbon', 'footprint', 'and']),
 WordList(['footprint', 'and', 'manage']),
 WordList(['and', 'manage', 'climate-related']),
 WordList(['manage', 'climate-related', 'risks']),
 WordList(['climate-related', 'risks', 'and']),
 WordList(['risks', 'and', 'opportunities']),
 WordList(['and', 'opportunities', 'to']),
 WordList(['opportunities', 'to', 'support']),
 WordList(['to', 'support', 'the']),
 WordList(['support', 'the', 'transition']),
 WordList(['the', 'transition', 'to']),
 WordList(['transition', 'to', 'a']),
 WordList(['to', 'a', 'low-carbon']),
 WordList(['a', 'low-carbon', 'economy'])]

In [14]:
# look at frequencies
def get_freqs(freq, bag):
  for sentence in bag:
    for gram in sentence:
      gram = tuple(gram)
      if freq.get(gram, -1) == -1:
        # count = get_key(gram)
        freq[gram] = 1
      else:
        freq[gram] = freq.get(gram)+1

In [15]:
freq_rel = {}
freq_irr = {}

get_freqs(freq_rel, bag2)
get_freqs(freq_irr, bag1)

by_freq_rel = sorted(freq_rel.items(), key=lambda x:x[1])
by_freq_irr = sorted(freq_irr.items(), key=lambda x:x[1])

In [16]:
rel_gram = pd.DataFrame(by_freq_rel)
irr_gram = pd.DataFrame(by_freq_irr)

In [17]:
rel_gram = rel_gram.sort_values(by = 1, ascending=False)
irr_gram = irr_gram.sort_values(by = 1, ascending=False)

In [18]:
rel_gram = rel_gram.rename(columns={0:'n-gram', 1:'count'})
irr_gram = irr_gram.rename(columns={0:'n-gram', 1:'count'})

In [61]:
#merge the two dfs and look at count differences
merged = irr_gram.merge(rel_gram, how='outer', on='n-gram')
merged = merged.fillna(0)

In [62]:
merged['difference'] = merged['count_x']-merged['count_y']
merged['perc difference'] = abs(merged['difference']/(merged['count_x']+merged['count_y']))

In [63]:
merged = merged.rename(columns = {'count_x': 'irr_count', 'count_y': 'rel_count'})

In [64]:
merged

,n-gram,irr_count,rel_count,difference,perc difference
0,"(as, well, as)",1351.0,8.0,1343.0,0.988227
1,"(In, 2021, we)",811.0,23.0,788.0,0.944844
2,"(company, ’, s)",810.0,5.0,805.0,0.987730
3,"(Code, of, Conduct)",712.0,0.0,712.0,1.000000
4,"(around, the, world)",712.0,2.0,710.0,0.994398
...,...,...,...,...,...
1301466,"(charging, and, fleets)",0.0,1.0,-1.0,1.000000
1301467,"(and, fleets, and)",0.0,1.0,-1.0,1.000000
1301468,"(fleets, and, growing)",0.0,1.0,-1.0,1.000000
1301469,"(growing, our, network)",0.0,1.0,-1.0,1.000000
1301470,"(of, around, 13,100)",0.0,1.0,-1.0,1.000000

In [65]:
merged = merged.loc[merged['perc difference'] > 0.3]
merged = merged.loc[merged['irr_count']+merged['rel_count'] > 100.0]
test = merged

In [66]:
test['n-gram'] = [str(gram[0]) + ', ' + str(gram[1]) + ', ' + str(gram[2]) for gram in test['n-gram']]

In [69]:
test = test.sort_values(by = 'perc difference', ascending=False)

In [32]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [70]:
from google.colab import files

test.to_csv('trigrams.csv') 
files.download('trigrams.csv')

In [ ]:
# stopwords appear to be common even in the trigrams. if the entire trigram is made of stopwords, prob best to remove them

# from nltk.corpus import stopwords

# for gram in df[0]:
#   the