In [2]:
# pull in the csv data

import pandas as pd

irrelevant = pd.read_csv("../relevant_irrelevant_sentences/extracted_irrelevant_sentences_from_all.csv")
relevant = pd.read_csv("../relevant_irrelevant_sentences/extracted_relevant_sentences_from_rel.csv")

print(len(irrelevant))
print(len(relevant))
irrelevant["class"] = 0
relevant["class"] = 1

irrelevant = irrelevant[irrelevant.columns[1:3]]
relevant = relevant[relevant.columns[1:3]]
relevant.head()

77715
885

                                                   0  class
0  From 2012 to 2020, we achieved a 26% reduction...      1
1  In 2021, we achieved a 9% absolute emissions r...      1
2  This reduction was partially driven by energy ...      1
3  In 2021, 9.6% of our purchased electricity cam...      1
4  A large portion of this renewable electricity ...      1

In [3]:
# sample the irrelevant data so it is balanced with the relevant

sample_irr = irrelevant.sample(n=885, random_state=1)
sample_irr.head()
len(sample_irr)

885

In [7]:
#create the final df
concat = pd.concat([relevant, sample_irr], ignore_index=True)
len(concat)

concat['class']
concat.head()

                                                   0  class
0  From 2012 to 2020, we achieved a 26% reduction...      1
1  In 2021, we achieved a 9% absolute emissions r...      1
2  This reduction was partially driven by energy ...      1
3  In 2021, 9.6% of our purchased electricity cam...      1
4  A large portion of this renewable electricity ...      1

In [8]:
import nltk
from nltk.corpus import stopwords
#nltk.download('stopwords')
from nltk.stem import PorterStemmer
import re

stemmer = PorterStemmer()
words = stopwords.words("english")
concat['processed'] = concat['0'].apply(lambda x: " ".join([stemmer.stem(i) for i in re.sub("[^a-zA-Z]", " ", x).split() if i not in words]).lower())
concat.head()

,0,class,processed
0,"From 2012 to 2020, we achieved a 26% reduction...",1,from achiev reduct absolut emiss
1,"In 2021, we achieved a 9% absolute emissions r...",1,in achiev absolut emiss reduct versu
2,This reduction was partially driven by energy ...,1,thi reduct partial driven energi e cienci impr...
3,"In 2021, 9.6% of our purchased electricity cam...",1,in purchas electr came renew sourc
4,A large portion of this renewable electricity ...,1,a larg portion renew electr deliv util provid ...

In [9]:
# train and test sets and export to csvs
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(concat['processed'], concat['class'], test_size=0.1, random_state=100)

In [11]:
dfbalanced = pd.concat([concat], ignore_index=True)
dfbalanced.to_csv('balanced_data_stemstop.csv')

dfbalanced_train = pd.concat([X_train.to_frame(), y_train.to_frame()], axis = 1, ignore_index = True)
dfbalanced_train.columns = ['sentences', 'class']
dfbalanced_train.to_csv('balanced_data_train_stemstop.csv')

dfbalanced_test = pd.concat([X_test.to_frame(), y_test.to_frame()], axis = 1, ignore_index = True)
dfbalanced_test.columns = ['sentences', 'class']
dfbalanced_test.to_csv('balanced_data_test_stempstop.csv')

In [50]:
# export to csvs

dfbalanced = pd.concat([concat], ignore_index=True)
dfbalanced.to_csv('balanced_data.csv')

dfbalanced_train = pd.concat([X_train.to_frame(), y_train.to_frame()], axis = 1, ignore_index = True)
dfbalanced_train.columns = ['sentences', 'class']
dfbalanced_train.to_csv('balanced_data_train.csv')

dfbalanced_test = pd.concat([X_test.to_frame(), y_test.to_frame()], axis = 1, ignore_index = True)
dfbalanced_test.columns = ['sentences', 'class']
dfbalanced_test.to_csv('balanced_data_test.csv')